body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

code {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

.particles {
  position: fixed;
  top:  0;
  right:  0;
  bottom: 0;
  left: 0;
  z-index:  -1;
}
